#tag-cloud .tag-cloud-tags a:nth-child(even) {
  font-size: 16px !important;
}

#tag-cloud .tag-cloud-tags a:nth-child(odd) {
  font-size: 24px !important;
}

#tag-cloud .tag-cloud-tags a:hover {
  background-color: #2bbc8a;
  color: #fff;
}

#footer {
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  background: white;
  padding: 8px 16px;
  max-width: 704px;
  border-top: 1px solid #000;
}
